[submodule "gloptipoly3_mod"]
	path = gloptipoly3_mod
	url = https://github.com/Jarmill/gloptipoly3_mod.git
[submodule "meas_class"]
	path = meas_class
	url = https://github.com/Jarmill/meas_class.git
